// Here you can add other styles
.my-text {
    font-size: 40px; /* Змінюємо розмір шрифту на 20px */
  }
  

  .scrollable-form {
    max-height: 55vh; /* Встановіть максимальну висоту для форми */
    overflow-y: auto; /* Додайте вертикальний скролбар, якщо вміст перевищує максимальну висоту */
    padding: 20px; /* Додатковий відступ для зручності прокручування */
    border: 1px solid #ccc; /* Опціонально: додайте рамку для візуального розділення */
    border-radius: 5px; /* Опціонально: заокруглення кутів */
    background-color: #fff; /* Опціонально: фоновий колір */
    overflow-x: hidden;
    width: 100%; /* Додано: встановлює ширину 80% від контейнера */
  }
  


  .address-box {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #f9f9f9;
  }
  
  .status-box {
    background-color: #f0f0f0;
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
  }
  
  .status-box.confirmed {
    background-color: #d4edda;
    color: #155724;
  }
  
  .address-desc {
    margin-bottom: 5px;
  }
  

  .user-contact-info {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    background-color: #f9f9f9;
  }
  
  .user-contact-info p {
    margin-bottom: 5px;
  }
  